<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppbprojectakhir">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VocabularyColor"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyBody"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyWeather"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyNumber"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyLyLess"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyProfession"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAnimalName"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyFruitName"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyInterjection"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyConjunction"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyPreposition"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAdverb"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAdjective"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyVerb"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyNoun"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyPronoun"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".Latihan2Layout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Latihan1Layout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PercakapanLayout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HafalanLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VocabularyLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GrammarLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TensesLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>