<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppbprojectakhir">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hafalan32"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan31"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan30"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan29"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan28"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan27"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan26"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan25"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan24"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan23"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan22"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan21"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan20"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan19"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan18"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan17"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan16"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan15"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan14"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan13"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan12"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan11"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan10"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan9"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan8"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan7"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan6"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan5"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan4"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan3"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan2"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".Hafalan1"
            android:label="Bahasa Inggris"
            android:parentActivityName=".HafalanLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HafalanLayout" />
        </activity>
        <activity
            android:name=".VocabularyColor"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyBody"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyWeather"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyNumber"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyLyLess"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyProfession"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAnimalName"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyFruitName"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyInterjection"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyConjunction"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyPreposition"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAdverb"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyAdjective"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyVerb"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyNoun"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".VocabularyPronoun"
            android:label="Bahasa Inggris"
            android:parentActivityName=".VocabularyLayout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocabularyLayout" />
        </activity>
        <activity
            android:name=".Latihan2Layout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Latihan1Layout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PercakapanLayout"
            android:label="Bahasa Inggris"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HafalanLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VocabularyLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GrammarLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TensesLayout"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>